*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color:aqua;
}
.nav{
    height:10%;
    width: 100%;
    background-color:rgb(26, 109, 81);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 25px 55px;
}
.nav h1{
    font-family: Helvetica, sans-serif;
}
.nav a{
    text-decoration: none;
    color: black;
    font-family: Helvetica, sans-serif;
    padding-left: 8px;
    padding-right: 20px;
}
img{
    height:400px;
    width: 700px;
    border:15px solid cadetblue;
}
.main{
    width:20%;
    height: 90%;
    display:flex;
    align-items: center;
    padding:0px 120px;
    
}
.hero h1{
    font-size: 80px;
    color: white;
}
.hero button{
    background-color: chartreuse;
    width: 160px;
    height: 3rem;
    border-radius: 10px;
    font-size: 15px;
    margin: 20px;
}
.switch{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 2rem;
    justify-content: space-evenly;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: rgb(7, 32,85);
    border-radius: 20px;
    cursor: pointer;
}
.switch .lit{
    display: none;
}

.dark-mode .switch{
    background-color: rgb(115, 154, 238);
}
.dark-mode .switch .drk{
    display: none;
}
.dark-mode .switch .lit{
    display:block;
}
.dark-mode .nav{
    background-color: #174098;
    color:white;
}
.dark-mode .nav a{
    color:white;
}
.dark-mode .main{
    background-color: #041a49;
}

.dark-mode .hero button{
    color: black;
    background-color: #7aa1f7;
}